h1 {
    color: black;
    margin-left: 17%;
}
.note-panel{
    border: 5px solid #f1f1f1;
    border-radius: 30px;
    padding: 10px;
    margin: 40px 5%;
    width: 500px;
}

.head-panel{
    margin-left: 30px;
    font-size: 20px;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    background: #fad893 url("../pictures/rosary.jpg") no-repeat right top;
    background-size: contain;

}