<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rosary Planner main Page</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <!--/*@thymesVar id="noteSet" type="java.util.Set"*/-->
    <!--/*@thymesVar id="note" type="fatimska.rosary.planner.domain.Note"*/-->
    <h1>News</h1>

        <div th:if="${not #sets.isEmpty(noteSet)}">
                    <table class="note-panel" th:each="note : ${noteSet}">
                        <tr>
                            <td class = "head-panel"><span th:text="${note.title}">This is First Title</span></td>
                        </tr>
                        <tr>
                            <td><p th:text="${note.article}">This is an example article</p></td>
                        </tr>
                        <tr>
                            <td th:text="${note.date}">12-09-2019</td>
                        </tr>
                    </table>
        </div>

</body>
</html>

<!--todo add CSS and JS files-->